* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(225, 225, 225);
}

main {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    padding: 100px;
}

.containerText {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

#h1novaes {
    font-size: 44pt;
    color: #007B8F;
}

#textEntrar {
    font-size: 19pt;
    color: rgb(27, 27, 27);
    margin-top: 20px;
    margin-bottom: 45px;
}

#btn_entrar {
    padding: 8px;
    border-radius: 7px;
    font-size: 15pt;
    font-weight: 600;
    width: 130px;
    outline: none;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: #007B8F;
    transition: 0.4s ease-in-out;
    color: white;
}

#btn_entrar a {
    text-decoration: none;
    color: white;
    outline: none;
}

#btn_entrar:hover {
    cursor: pointer;
    transform: scale(105%);
    background-color: #083C52;
}

#imgIndex {
    width: 460px;
}

@media screen and (max-width: 1085px) {
    #h1novaes {
        font-size: 39pt;
    }

    #textEntrar {
        font-size: 16pt;
    }

    #btn_entrar {
        padding: 7px;
        font-size: 14pt;
        width: 120px;
    }

    #imgIndex {
        width: 380px;
    }
}

@media screen and (max-width: 810px) {
    .containerText {
        margin-right: 30px;
    }

    #h1novaes {
        font-size: 37pt;
    }

    #textEntrar {
        font-size: 15pt;
        margin-top: 16px;
        margin-bottom: 39px;
    }

    #btn_entrar {
        padding: 7px;
        font-size: 13pt;
        width: 100px;
    }

    #imgIndex {
        width: 340px;
    }
}

@media screen and (max-width: 710px) {
    .containerText {
        margin-right: 25px;
    }

    #h1novaes {
        font-size: 34pt;
    }

    #textEntrar {
        font-size: 13pt;
        margin-top: 13px;
        margin-bottom: 34px;
    }

    #btn_entrar {
        padding: 7px;
        font-size: 12pt;
        width: 100px;
    }

    #imgIndex {
        width: 300px;
    }
}

@media screen and (max-width: 610px) {
    .containerText {
        margin-right: 22px;
    }

    #h1novaes {
        font-size: 32pt;
    }

    #textEntrar {
        font-size: 13pt;
        margin-top: 13px;
        margin-bottom: 34px;
    }

    #btn_entrar {
        padding: 7px;
        font-size: 12pt;
        width: 100px;
    }

    #imgIndex {
        width: 260px;
    }
}

@media screen and (max-width: 540px) {
    .containerText {
        margin-right: 20px;
    }

    #h1novaes {
        font-size: 30pt;
    }

    #textEntrar {
        font-size: 13pt;
        margin-top: 13px;
        margin-bottom: 34px;
    }

    #btn_entrar {
        padding: 7px;
        font-size: 12pt;
        width: 100px;
    }

    #imgIndex {
        width: 200px;
    }
}

@media screen and (max-width: 470px) {
    .containerText {
        margin-right: 18px;
    }

    #h1novaes {
        font-size: 28pt;
    }

    #textEntrar {
        font-size: 12.5pt;
        margin-top: 13px;
        margin-bottom: 34px;
    }

    #btn_entrar {
        padding: 7px;
        font-size: 11.5pt;
        width: 100px;
    }

    #imgIndex {
        width: 150px;
    }

    @media screen and (max-width: 400px) {
        main {
            padding: 20px;
            align-items: center;
            justify-content: center;
            background-image: url('../IMAGES/IdentidadeVisual/Logos\ Grupo\ Novaes_11.png');
            background-repeat: no-repeat;
            background-size: 430px;
            background-position-x: 170px;
            background-position-y: 80%;
        }

        .containerText {
            margin-right: 0;
        }

        #h1novaes {
            font-size: 28pt;
        }

        #textEntrar {
            font-size: 12.5pt;
            margin-top: 13px;
            margin-bottom: 34px;
        }

        #btn_entrar {
            padding: 7px;
            font-size: 11.5pt;
            width: 100px;
        }

        #imgIndex {
            display: none;
        }
    }
}

@media screen and (max-width: 370px) {
    main{
        background-size: 370px;
        background-position-x: 140px;
        background-position-y: 80%;
    }
}

@media screen and (max-width: 320px) {
    main{
        background-size: 350px;
        background-position-x: 110px;
        background-position-y: 80%;
    }
}

@media screen and (max-width: 280px) {
    main{
        background-size: 330px;
        background-position-x: 90px;
        background-position-y: 80%;
    }
}

@media screen and (max-width: 255px) {
    main{
        background-size: 300px;
        background-position-x: 70px;
        background-position-y: 80%;
    }
}

@media screen and (max-width: 255px) {
    main{
        background-size: 300px;
        background-position-x: 70px;
        background-position-y: 80%;
    }
}

@media screen and (max-width: 225px) {
    main {
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .containerText {
        margin-right: 0;
    }

    #h1novaes {
        font-size: 25pt;
    }

    #textEntrar {
        font-size: 12pt;
        margin-top: 13px;
        margin-bottom: 34px;
    }

    #btn_entrar {
        padding: 7px;
        font-size: 11pt;
        width: 80px;
    }

    #imgIndex {
        display: none;
    }
}