@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    width: 100%;
    height: 15vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#logo {
    margin-top: 20px;
    margin-left: 50px;
    width: 200px;
}

main {
    width: 100%;
    height: 50vh;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.thankyou {
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(226, 226, 226);
    padding: 50px;
    width: 100%;
    height: auto;
}

#title {
    color: #007B8F;
    font-weight: 700;
    font-size: 36pt;
    flex-wrap: wrap;
}

#textOk {
    color: rgb(14, 14, 14);
    font-weight: 500;
    font-size: 18pt;
    flex-wrap: wrap;
    margin-top: 20px;
}

#back {
    font-size: 15pt;
}

footer {
    width: 100%;
    background-color: red;
}

#footer {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #007B8F;
    color: white;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12pt;
    margin-right: 2%;
    margin-left: 2%;
}

#_text_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#text_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 5px;
}

#devby {
    font-size: 13pt;
}

#titulo_footer {
    font-size: 13pt;
    margin-top: 15px;
}

.icons {
    margin-left: 10px;
    margin-right: 10px;
    filter: invert(100);
    color: transparent;
}

@media screen and (max-width: 862px) {
    main {
        width: 100%;
        height: 500px;
    }
    #footer {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }
    #footer {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 360px) {
    header {
        align-items: center;
        justify-content: center;
        height: 78%;
    }

    #logo {
        margin-top: 15px;
        margin-left: 10px;
        width: 170px;
    }

    #title {
        font-weight: 700;
        font-size: 26pt;
        flex-wrap: wrap;
    }

    .thankyou {
        padding: 10%;
    }

    #textOk {
        font-weight: 500;
        font-size: 14pt;
    }

    #back {
        font-size: 13pt;
    }
}

@media screen and (max-width: 410px) {
    main {
        width: 100%;
        height: auto;
    }
    #footer {
        flex-direction: column;
        align-items: center;
    }
    .text{
        font-size: 11pt;
    }
}

@media screen and (max-width: 335px) {
    #logo {
        margin-top: 12px;
        margin-left: 10px;
        width: 130px;
        height: 40px;
    }

    #title {
        font-weight: 700;
        font-size: 22pt;
        flex-wrap: wrap;
    }

    #textOk {
        font-weight: 500;
        font-size: 13pt;
    }

    #back {
        font-size: 12pt;
    }

    #text {
        font-size: 12pt;
    }

    #titulo_footer {
        font-size: 12pt;
    }

    #devby {
        font-size: 11pt;
    }
}

@media screen and (max-width: 240px) {
    #logo {
        margin-top: 12px;
        margin-left: 10px;
        width: 130px;
        height: 40px;
    }

    #title {
        font-weight: 700;
        font-size: 20pt;
        flex-wrap: wrap;
    }

    #textOk {
        font-weight: 500;
        font-size: 11.5pt;
    }

    #back {
        font-size: 11pt;
    }

    #titulo_footer {
        font-size: 11pt;
    }

    #devby {
        font-size: 10pt;
    }
}

@media screen and (min-width: 2000px) {
    #logo{
        width: 400px;
        height: 110px;
    }
    main{
        background-color: rgb(226, 226, 226);
    }
    #title{
        font-size: 80pt;
        font-weight: 600;
    }
    #textOk{
        font-size: 30pt;
        margin-top: 40pt;
        margin-bottom: 30px;
    }
    #back{
        font-size: 27pt;
    }
    .text{
        font-size: 26pt;
    }
    .iconsRedes{
        width: 50px;
    }
    #titulo_footer{
        font-size: 28pt;
    }
    #devby{
        font-size: 26pt;
    }
}

@media screen and (min-width: 1707px) {
    #logo{
        width: 230px;
        height: 67px;
    }
    main{
        background-color: rgb(226, 226, 226);
    }
    #title{
        font-size: 50pt;
        font-weight: 600;
    }
    #textOk{
        font-size: 24pt;
        margin-top: 30pt;
        margin-bottom: 20px;
    }
    #back{
        font-size: 19pt;
    }
    .text{
        font-size: 17pt;
    }
    .iconsRedes{
        width: 35px;
    }
    #titulo_footer{
        font-size: 18pt;
    }
    #devby{
        font-size: 17pt;
    }
}

@media screen and (min-width: 1517px) {
    #logo{
        width: 210px;
        height: 62px;
    }
    main{
        background-color: rgb(226, 226, 226);
    }
    #title{
        font-size: 40pt;
        font-weight: 700;
    }
    #textOk{
        font-size: 20pt;
        margin-top: 30pt;
        margin-bottom: 20px;
    }
    #back{
        font-size: 17pt;
    }
    .text{
        font-size: 15pt;
    }
    .iconsRedes{
        width: 30px;
    }
    #titulo_footer{
        font-size: 15pt;
    }
    #devby{
        font-size: 14pt;
    }
}