@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    width: 100%;
    height: 90px;
    /* position: fixed;
    z-index: 2; */
    background-color: white;
}

#logo {
    margin-top: 20px;
    margin-left: 50px;
    width: 200px;
}

main {
    background-color: yellow;
    width: 100%;
}

.thankyou{
    justify-content: center;
    margin-right: 6%;
    text-align: center;
    flex-wrap: wrap;
    background-color: rgb(226, 226, 226);
    padding: 50px;
    width: 100%;
}

#title{
    color: #007B8F;
    font-weight: 700;
    font-size: 30pt;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#imagem_correct{
    width: 55px;
}

#textOk{
    color: rgb(14, 14, 14);
    font-weight: 500;
    font-size: 15pt;
    flex-wrap: wrap;
}

/* .imgCorrect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
footer{
    width: 100%;
}
#footer{
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #007B8F;
    color: white;
    flex-wrap: wrap;
}
.text{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10pt;
    margin-right: 2%;
    margin-left: 2%;
}
#_text_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#text_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 21vh;
    padding: 5px;
}
#titulo_footer{
    size: 12pt;
    margin-top: 15px;
}
.icons{
    margin-left: 10px;
    margin-right: 10px;
    filter: invert(100);
}

@media screen and (max-width: 600px) {
    body{
        background-color: red;
    }
    main{
        width: 100%;
    }
    /* .imgCorrect{
        display: none;
    } */
    #footer {
        flex-direction: column; /* Alterado para column em telas menores */
        align-items: center; /* Centralizado em telas menores */
    }

}

@media screen and (max-width: 360px) {
    header{
        align-items: center;
        justify-content: center;
        height: 78%;
    }
    #logo {
        margin-top: 15px;
        margin-left: 10px;
        width: 170px;
    }
    #title{
        font-weight: 700;
        font-size: 26pt;
        flex-wrap: wrap;
    }
    .thankyou{
        padding: 10%;
    }
}

@media screen and (max-width: 335px) {
    #logo {
        margin-top: 12px;
        margin-left: 10px;
        width: 130px;
        height: 40px;
    }
    #title{
        font-weight: 700;
        font-size: 22pt;
        flex-wrap: wrap;
    }
    #textOk{
        font-weight: 500;
        font-size: 12.5pt;
    }
    
}

@media screen and (max-width: 240px) {
    #logo {
        margin-top: 12px;
        margin-left: 10px;
        width: 130px;
        height: 40px;
    }
    #title{
        font-weight: 700;
        font-size: 20pt;
        flex-wrap: wrap;
    }
    #textOk{
        font-weight: 500;
        font-size: 11.5pt;
    }
    #back{
        font-size: 11pt;
    }
    #titulo_footer{
        font-size: 11pt;
    }
    #devby{
        font-size: 10pt;
    }
}