*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-row: 100%;
    min-height: 100vh;
    gap: 1px;
    overflow: hidden;
}
nav.BarraLateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; 
    background-color: #F9F9F9;
    box-shadow: 1px 0px 0px 2px rgba(0, 0, 0, 0.15);
}

nav .navContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    padding-left: 20px;
}

nav .navContent a:hover{
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: lightgrey;
}

nav.BarraLateral div a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #007b8f;
    font-size: 1.2em;
}

main{
    display: grid;
    grid-template-rows: 20vh 80vh;
    padding: 5px;
    background-color: white;
    gap: 5px;
}